# Merging and creating order_products_merged 

### Importing libraries and data sets

### Checking the dimensions 

###  Merging orders_products_combined with products_checked dataframe

### Quality check on merge

### Exporting new Dataset orders_products_merged

# 1. Importing libraries and data sets

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#creating pathway for dataframes
path = os.path.join(r'/Users/katja/Documents/Instacart Basket Analysis/02 Data')

In [3]:
#import orders_products_combined
df_ords_prods =pd.read_pickle(os.path.join(path,'Prepared Data', 'orders_products_combined.pkl'))

In [4]:
#import products_checked.csv
df_prods = pd.read_csv(os.path.join(path,'Prepared Data', 'products_checked.csv'),index_col = False)

In [5]:
#loading garbage collector
import gc

# 2. Checking the Dimensions

In [6]:
#shape of ords_prods
df_ords_prods.shape

(32434489, 9)

In [7]:
# analysis of DF to determine merging key
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_ords_prods.head()

,order_id,user_id,clients_order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [10]:
df_prods.shape

(49672, 5)

In [11]:
df_ords_prods.shape

(32434489, 9)

# 3. Merging orders_products_combined with products_checked dataframe

In [19]:
#task 5 merging prods df with ords_prods DF

df_orders_products_merged = df_ords_prods.merge(df_prods, on = 'product_id', indicator = True)

# 4. Quality check on merge

In [13]:
df_orders_products_merged.head()

,order_id,user_id,clients_order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [14]:
#check the merge flag
df_orders_products_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [15]:
#dropping merge column
df_orders_products_merged = df_orders_products_merged.drop(columns = ['_merge'])

In [16]:
df_orders_products_merged.shape

(32404859, 13)

## Exporting new Dataset orders_products_merged

In [17]:
#Save new merge df at pickle
df_orders_products_merged.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_merged.pkl'))

In [20]:
#delete df_merged_large to save space

del df_orders_products_merged

gc.collect()

0