# Deriving New Variables 

### Importing libraries and data sets

### Deriving variable subset  (price_label) 

### Deriving variable fullset 

### If-statement using loop 

## Task 4.7 

### Step 2 

### Step 3 (busiest_day) 

### Step 4 Deriving busiest_hours for orders

### Step 5 Print frequency for busiest_hours

## Export dataset

# 1. Importing libraries and data sets

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#creating pathway for dataframes
path = os.path.join(r'/Users/katja/Documents/Instacart Basket Analysis/02 Data')

In [3]:
#import orders_products
df_ords_prods_merge =pd.read_pickle(os.path.join(path,'Prepared Data', 'orders_products_merged.pkl'))

In [4]:
#loading garbage collector
import gc

## Checking df_ords_prods

In [5]:
#checking dimensions
df_ords_prods_merge.head()

,order_id,user_id,clients_order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0

In [6]:
df_ords_prods_merge.shape

(32404859, 13)

## Deriving variable subset (price_label to price_range & price_range_loc)

In [37]:
#creating a subset
df=df_ords_prods_merge[:1000000]

In [8]:
df.shape

(1000000, 13)

In [9]:
#define a function for price_label 

def price_label(row):

  if row['prices'] <= 5:
    return 'Low range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid range product'
  elif row['prices'] > 15:
    return 'High range product'
  else: return np.nan

In [10]:
#creating flag for user syntax price label, apply the function

df['price_range'] = df.apply(price_label, axis=1)

/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/1499181426.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [11]:
#value count of price_range column

df['price_range'].value_counts(dropna = False)

price_range
Mid range product    756450
Low range product    243550
Name: count, dtype: int64

In [12]:
#most expensive product within the subset

df['prices'].max()

14.8

In [13]:
#setting loc for high range products

df.loc[df['prices'] > 15, 'price_range_loc'] = 'High range product'

/var/folders/lt/8nbq3ckj63b31sc2gk8qbwvc0000gn/T/ipykernel_1053/3357406862.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High range product'

In [14]:
#setting loc for mid range products

df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [15]:
#setting loc for low range products

df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [16]:
df['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

## Deriving variable fullset (price_label)

In [17]:
#setting loc for high range products
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [18]:
#setting loc for mid range products
df_ords_prods_merge.loc[(df_ords_prods_merge['prices'] <= 15) & (df_ords_prods_merge['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [19]:
#setting loc for low range products
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [20]:
df_ords_prods_merge['price_range_loc'].value_counts(dropna=False)

price_range_loc
Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: count, dtype: int64

## If-statements using For-loops

In [21]:
#Frequency count orders_day_of_week
df_ords_prods_merge['order_dow'].value_counts(dropna=False)

order_dow
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [22]:
# rename order_dow to orders_day_of_week
df_ords_prods_merge.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [23]:
#Frequency count orders_day_of_week
df_ords_prods_merge['orders_day_of_week'].value_counts(dropna=False)

orders_day_of_week
0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: count, dtype: int64

In [24]:
#creating for loop to group busiest_day

result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value == 0:
    result.append("busiest day")
  elif value == 4:
    result.append("least busy")
  else:
    result.append("regularly busy")

In [25]:
df_ords_prods_merge['busiest_day'] = result

In [26]:
#busiest_day results
df_ords_prods_merge['busiest_day'].value_counts(dropna=False)

busiest_day
regularly busy    22416875
busiest day        6204182
least busy         3783802
Name: count, dtype: int64

## Task 4.7

## Step 2

In [27]:
#Redefining busiest_day to busiest_days
result = []

for value in df_ords_prods_merge["orders_day_of_week"]:
  if value <= 1:
    result.append("busiests days")
  elif value == 3:
    result.append("least busy days")
  elif value == 4:
    result.append("least busy days")
  else:
    result.append("regularly busy days")

In [28]:
#set results to busiest_days
df_ords_prods_merge['busiest_days'] = result

In [29]:
#dropping previous column busiest_day
df_ords_prods_merge = df_ords_prods_merge.drop(columns = ['busiest_day'])

## Step 3 busiest days result

In [30]:
#busiest_days results, Frequency count busiest order hours
df_ords_prods_merge['busiest_days'].value_counts(dropna=False)

busiest_days
regularly busy days    12916111
busiests days          11864412
least busy days         7624336
Name: count, dtype: int64

## Step 4  Deriving busiest order hours of the day

In [31]:
#Frequency count busiest order hours
df_ords_prods_merge['order_hour_of_day'].value_counts(dropna=False)

order_hour_of_day
10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: count, dtype: int64

In [32]:
#creating subset for busiest_period_of_day (L-12 to 9 M- 10 to 16 A- 17 to 23)

result = []

for value in df_ords_prods_merge["order_hour_of_day"]:
  if value <= 9:
    result.append("least orders")
  elif value >= 17:
    result.append("average orders")
  else:
    result.append("most orders")

In [33]:
#set results to busiest_days
df_ords_prods_merge['busiest_period_of_day'] = result

## Step 5 Print frequency for busiest_period_of_day

In [34]:
#value count busiest order hours of day
df_ords_prods_merge['busiest_period_of_day'].value_counts(dropna=False)

busiest_period_of_day
most orders       18663868
average orders     7790795
least orders       5950196
Name: count, dtype: int64

In [35]:
#Export df_ords_prods_merge into a pickle
df_ords_prods_merge.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_merged.pkl'))

In [38]:
# delete df to safe space 
del df

gc.collect()

0