# Merging and Exporting Data

### Importing libraries and data sets

### Checking df dimensions 

###  Merging orders_prior and ords dataframe

### Checking the DF and Saving

### # Export new dataframe as orders_products_combined

# 1. Importing libraries and data sets

In [1]:
#Import Libraries
import pandas as pd
import numpy as np
import os

In [2]:
#creating pathway for dataframes
path = os.path.join(r'/Users/katja/Documents/Instacart Basket Analysis/02 Data')

In [3]:
#import orders_checked.csv
df_ords = pd.read_csv(os.path.join(path,'Prepared Data', 'orders_checked.csv'),index_col = False)

In [4]:
#import products_checked.csv
df_prods = pd.read_csv(os.path.join(path,'Prepared Data', 'products_checked.csv'),index_col = False)

In [5]:
#Importing products_prior DF
df_ords_prior = pd.read_csv(os.path.join(path,'Original Data', 'orders_products_prior.csv'), index_col= False)

In [6]:
#loading garbage collector
import gc

# 2. Checking DF Dimensions

In [7]:
#Check the output 
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [8]:
df_ords_prior.shape

(32434489, 4)

In [9]:
df_ords.shape

(3421083, 6)

# 3. Merging orders_prior and ords dataframe

In [10]:
#merging order df and order_prior df
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [11]:
df_merged_large.head()

,order_id,user_id,clients_order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

# 4. Checking the DF and Saving

In [12]:
#checking value counts in df-merge
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [13]:
#removing _merge column for upcoming merge
df_merged_large=df_merged_large.drop(columns=['_merge'])

In [14]:
df_merged_large.shape

(32434489, 9)

# Export new dataframe as orders_products_combined

In [15]:
# Export data to pkl
df_merged_large.to_pickle(os.path.join(path,'Prepared Data', 'orders_products_combined.pkl'))

In [16]:
#delete df_merged_large to save space

del df_merged_large

gc.collect()

0